.details-form-sidebar-tab,
.details-form-sidebar-tab-child {
  @apply relative block h-fit w-full cursor-pointer rounded-tl-none rounded-bl-none py-2 pr-2 pl-2.5 text-left shadow-none;
}

.details-form-sidebar-tab-child {
  @apply py-0.5 text-sm;
}

.details-form-sidebar-tab.active {
  @apply bg-grey-lightest;
}

.details-form-sidebar-tab-child.active span {
  @apply font-semibold;
}

.details-form-sidebar-tab.active::before {
  content: '';
  @apply absolute top-0 left-0 h-full w-0.5 bg-black;
}
