name: Deploy to dev

on:
  push:
    branches:
      - feat/d

jobs:
  deploy-to-dev:
    name: Deploy to dev
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - name: Node Setup
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Caprover
        run: npm install -g caprover

      - name: Deploy
        run: caprover deploy -h '${{ secrets.CAPROVER_ROOT_URL }}' -p '${{ secrets.CAPROVER_PASSWORD }}' -b 'feat/cicd' -a 'sentian-dev-dashboard'
